main {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 200px);
    grid-gap: 0px;
    align-self: center;
}

app-square {
    border: 1px gray solid;
    height: 200px;
    font-size: 40%;
}

#colapse-button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: white;
}